body {
    background-color: #fff;
    color: #111;
}

body, button, input, textarea, select {
    font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1rem;
}

.wrap {
    padding: 0 1rem;
    margin: 1rem auto;
    max-width: 800px;
}

.form label {
    display: block;
    font-weight: 500;
    padding-bottom: .5rem;
    padding-top: 1rem;
}

.form-checkbox input[type=checkbox] {
    margin-left: 0;
}

.form div:not(.form-checkbox) > label {
    color: #555;
    font-size: .85rem;
    letter-spacing: .5px;
    text-transform: uppercase;
}

@supports (display: flex) {
    .form-checkbox {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    .form-checkbox input[type=checkbox] {
        margin-right: .5rem;
        order: 0;
    }

    .form-checkbox label {
        font-weight: normal;
        padding-bottom: 0;
        padding-top: 0;
        order: 1;
    }
}

.form input[type=text],
.form input[type=email],
.form input[type=password] {
    width: 100%;
}

.form .btn[type=submit] {
    margin-top: 1rem;
}

.btn-icon svg {
    width: 16px;
    height: 16px;

    margin-right: .25rem;
    position: relative;
    top: 2px;
}

.btn {
    background: #eee;
    border: 1px #999 solid;
    border-radius: 3px;
    color: #111;
    padding: .5rem .85rem;
    cursor: pointer;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search] {
    background: #fcfcfc;
    border-radius: 3px;
    border: 1px #999 solid;
    padding: .5rem .85rem;
}

.btn:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .2);
}

.btn[disabled] {
    cursor: default;
    border-color: #bbb;
    background: #f6f6f6;
    color: #888;
}

select:-moz-focusring {
    box-shadow: none;
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.btn::-moz-focus-inner,
.btn::-moz-focus-outer,
select::-moz-focus-inner,
select::-moz-focus-outer {
    border: 0;
    outline: none;
}
