* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #111;
}

.user-header {
    color: #6e6e6e;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem;
    text-align: left;
}

body, button, input, textarea, select {
    font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 24px;
}

.wrap {
    padding: 0 1rem;
    margin: 1rem auto;
    max-width: 800px;
}

@media screen and (max-width: 640px) {
    .wrap {
        padding: 0 .33rem;
    }
}

.form label {
    display: block;
    font-weight: 500;
    padding-bottom: .5rem;
    padding-top: 1rem;
}

.form-checkbox input[type=checkbox] {
    margin-left: 0;
}

.form div:not(.form-checkbox) > label {
    color: #555;
    font-size: .85rem;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.register-link {
    margin-left: 1rem;
}

@supports (display: flex) {
    .form-checkbox {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    .form-checkbox input[type=checkbox] {
        margin-right: .5rem;
        order: 0;
    }

    .form-checkbox label {
        font-weight: normal;
        padding-bottom: 0;
        padding-top: 0;
        order: 1;
    }
}

.form input[type=text],
.form input[type=email],
.form input[type=password] {
    width: 100%;
}

.form .button[type=submit] {
    margin-top: 1rem;
}

.button-icon svg {
    height: 16px;
    width: 16px;

    margin-right: .25rem;
    position: relative;
    vertical-align: middle;

    line-height: 1;
}

.button {
    background: #eee;
    border: 1px #999 solid;
    border-radius: 3px;
    color: #111;
    padding: .4rem 1rem;
    cursor: pointer;
}

a.button {
    display: inline-block;
    text-decoration: none;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search] {
    background: #fcfcfc;
    border-radius: 3px;
    border: 1px #999 solid;
    padding: .5rem .85rem;
}

.button:focus,
.focus-outline:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .2);
}

.button[disabled] {
    cursor: default;
    border-color: #bbb;
    background: #f6f6f6;
    color: #888;
}

select:-moz-focusring {
    box-shadow: none;
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.button::-moz-focus-inner,
.button::-moz-focus-outer,
select::-moz-focus-inner,
select::-moz-focus-outer {
    border: 0;
    outline: none;
}

.help {
    background-color: aliceblue;
    color: midnightblue;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 4px;
    border: 1px lightblue solid;
}


.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}
