body.player-visible {
    padding-bottom: 6rem;
}

.player {
    background-color: hsl(240, 10%, 96%);
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .2), 0 0 1px rgba(0, 0, 0, .1);
    margin-top: 1rem;
    padding: .75rem 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.player-wrap {
    align-items: center;
    flex-direction: row;
    max-width: 960px;
    margin: 0 auto;
}

.player-controls {
    text-align: center;
}

.player-button {
    border: 1px transparent solid;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 .5rem;
    padding: 8px 0;
    height: 40px;
    width: 40px;
    text-align: center;
}

.player-button:focus:focus:focus {
    background-color: #e6e6e6;
    box-shadow: 0 0 0 3px hsla(0, 0%, 0%, .15), 0 0 0 1px rgba(0, 0, 0, .2);
}

.player-button svg {
    stroke: #6e6e6e;
    fill: #6e6e6e;
}

.player-button:disabled svg {
    stroke: #bebebe;
    fill: #bbb;
}

.player-button-play-pause {
    background-color: #fff;
    border: 1px #ccc solid;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    height: 48px;
    padding: 12px 0;
    width: 48px;
}

.player-button-play-pause svg {
    stroke-width: 0;
}

.player-button-play-pause:not(:disabled):hover {
    background-color: #f9f9f9;
}

.player-button-play-pause:disabled {
    background-color: #f9f9f9;
    border-color: #d9d9d9;
    box-shadow: none;
}

.player-button::-moz-focus-inner,
.player-button::-moz-focus-outer {
    border: 0;
    outline: none;
}

.player-position-info {
    align-items: center;
    display: flex;
    flex-grow: 1;
    margin-left: 1rem;
}

.player-position,
.player-total-duration {
    color: #777;
    font-size: .75rem;
    letter-spacing: .05rem;
    margin-top: .5rem;
}

.player-position-slider {
    background-color: hsl(240, 10%, 87%);
    flex-grow: 1;
    height: 6px;
    margin-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}

.player-position-slider-track {
    background-color: mediumslateblue;
    background-image: linear-gradient(to right, #6452cc 0%, #596fde 100%);
    height: 6px;
    position: relative;
    overflow: visible;
}
