.review-item {
    border: #b6b6b6 solid;
    border-width: 0 1px 1px 1px;
    display: flex;
    flex-direction: row;
    padding: .85rem;
}

.review-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-width: 1px;
}

.review-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.review-item-status {
    flex: 0 0 24px;
}

.review-item-status svg {
    position: relative;
    top: 2px;
    height: 16px;
    width: 16px;
}

.review-item-info {
    flex: 1 0 auto;
}

.review-proceed {
    margin-top: 1rem;
}

.review-proceed .btn {
    display: inline-block;
    text-decoration: none;
}

/*.review-item-name {*/
/*    font-weight: 500;*/
/*}*/

/*.review-item-metadata-row {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.review-item-metadata-field {*/
/*    flex: 1 1 50%;*/
/*}*/

/*.review-item-metadata-field + .review-item-metadata-field {*/
/*    margin-left: 1rem;*/
/*}*/

/*.review-item-name::before {*/
/*    color: #888;*/
/*    content: 'File: ';*/
/*    margin-right: .2rem;*/
/*}*/

/*.review-item:last-child {*/
/*    border-bottom-left-radius: 4px;*/
/*    border-bottom-right-radius: 4px;*/
/*}*/
