.tagging-track {
    border: #b6b6b6 solid;
    border-width: 0 1px 1px 1px;
    padding: .85rem;
}

.tagging-track:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-width: 1px;
}

.tagging-track-name {
    font-weight: 500;
}

.tagging-track-metadata-row {
    display: flex;
    flex-direction: row;
}

.tagging-track-metadata-field {
    flex: 1 1 50%;
}

.tagging-track-metadata-field + .tagging-track-metadata-field {
    margin-left: 1rem;
}

.tagging-track-name::before {
    color: #888;
    content: 'File: ';
    margin-right: .2rem;
}

.tagging-track:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
