.track-list {
    border: 1px rgba(0, 0, 0, .2) solid;
    border-radius: 3px;
}

.track-list-item {
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    padding: 0 .75rem;
    position: relative;
}

.track-list-item:nth-child(2n) {
    background-color: #fafafa;
}

.track-list-item:hover {
    background-color: #eee;
    /*box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset;*/
}

.track-list-item > * {
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.track-list-item:not(:first-child) .track-list-item-info {
    /*border-top: 1px #ddd solid;*/
}

.track-list-item-prerendered > * {
    opacity: .5;
}

.track-list-item-playing .track-list-item-title {
    color: hsl(249, 82%, 50%);
}

/* Double-clicking on the entire .track-list-item should make it resume. */
.track-list-item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.track-list-item-status {
    flex-shrink: 0;
    text-align: right;
    width: 30px;
    padding-right: .85rem;
    font-feature-settings: 'tnum';
}

.track-list-item-status-icon {
    height: 16px;
    position: relative;
}

.track-list-item-number {
    color: rgba(0, 0, 0, .5);
}

.track-list-item-status svg {
    height: 16px;
    width: 16px;

    margin-top: 4px;
    stroke-width: 3px;
}

.track-list-item-info {
    align-items: baseline;
    justify-content: stretch;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.track-list-item-title {
    color: #333;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
}

.track-list-item-duration {
    color: rgba(0, 0, 0, .5);
    font-size: .85rem;
    font-feature-settings: 'tnum';
    letter-spacing: .02rem;
}

.track-list-item-duration-icon svg {
    opacity: .66;
    margin-right: .25rem;

    /* TODO */
    position: relative;
    top: 1px;

    display: inline-block;
    height: 14px;
    width: 14px;
}

@media screen and (max-width: 640px) {
    .track-list {
        border: 0;
        margin: 0 -1rem;
    }

    .track-list-item {
        padding: 0 .5rem;
    }

    .track-list-item-status {
        width: 40px;
    }

    .track-list-item-info {
        flex-direction: column;
    }

    .track-list-item-duration {
        margin-top: .1rem;
    }

    .track-list-item-duration-icon {
        display: none;
    }
}

.track-list-item-play-button.track-list-item-play-button:active,
.track-list-item-play-button.track-list-item-play-button:focus {
    border-radius: 4px;
    background-color: mediumslateblue;
    background-image: linear-gradient(to right, #7865e6 0%, #687eed 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 0 0 1px mediumslateblue inset;
    color: #fff;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .02rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px .75rem;
    position: absolute;
    right: .8rem;
    outline: none;
}

.track-list-item-play-button::-moz-focus-inner,
.track-list-item-play-button::-moz-focus-outer {
    border: 0;
    outline: none;
}

.welcome-text {
    font-size: 1.33rem;
}
