{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Upload a track{% endtrans %}
{% endblock %}

{% block body %}

    <div class="wrap">
        <h1>Add tracks</h1>

        <noscript>
            <div class="error">
                Uploading tracks requires JavaScript.
            </div>
        </noscript>

        <div id="react-content"></div>

        <div id="persistent-root"></div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('upload') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('upload') }}
{% endblock %}
